.form-contact{   
     background-color: white;
    border: 2px solid black;
    margin-left:500px;
    margin-right:500px;
    border-radius:10px;
    height:282px;
    margin-top: 18px;
}

form{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

input,textarea{
    width: 70%;
    padding: 8px;
    margin: 5px;
}
.btn{
    padding-right: 23px;
    font-weight: 500;
    background-color: #00bcd41c;
    border-radius: 5px;
    padding-top: 4px;
    padding-bottom: 3px;
    padding-left: 23px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 3px;
    font-weight: 300px;
    
}

.btn:hover{background-color:white}

.contact-heading {    margin-right: 400px;
    margin-left: 400px;
    background-color: white;
    text-align: center;
    margin-top: 34px;
    border: 2px solidb;
    border-radius: 12px;
    border: 2px solid black;}

.contact-heading  h1{
            font-size: 28px;
    font-weight: 200;
        
    }

       iframe{ margin-top: 29px;
    height: 300px;
    width: 99%;
    border: 2px solid white;
    text-align: center;
    margin-left: 8px;
margin-right: 5px;}



    @media (max-width:1441px) {
        h1 {
            font-size: 23px;
            font-weight: 200;
        }
        .contact-heading {
           margin-right: 400px;
           margin-left: 400px;
           padding-top: 5px;
           padding-bottom: 5px;
}
.form-contact {
    background-color: white;
    border: 2px solid black;
    margin-left: 449px;
    margin-right: 450px;
   
    }
}


    @media (max-width:1362px) {
        .contact-heading h1 {
            font-size: 19px;
            font-weight: 200;
        }

    }

    @media (max-width:1278px) {
        h1 {
            padding-top: 6px;
            font-size: 17px;
            font-weight: 200;
            padding-bottom: 6px;
        }

        .contact-heading {
            margin-right: 350px;
            margin-left: 350px;
            padding-top: 5px;
            padding-bottom: 5px;
 }
 .form-contact {
 background-color: white;
 border: 2px solid black;
 margin-left: 320px;
 margin-right: 320px;

 }
    }


    @media (max-width:1040px) {
        h1 {
            padding-top: 6px;
            font-size: 17px;
            font-weight: 200;
            padding-bottom: 6px;
        }

        .contact-heading {
            margin-right: 300px;
            margin-left: 300px;
            padding-top: 5px;
            padding-bottom: 5px;
 }
 .form-contact {
 background-color: white;
 border: 2px solid black;
 margin-left: 300px;
 margin-right: 300px;

 }
    }

    @media (max-width:940px) {
        h1 {
            padding-top: 6px;
            font-size: 17px;
            font-weight: 200;
            padding-bottom: 6px;
        }

        .contact-heading {
            margin-right: 250px;
            margin-left: 250px
 }

.form-contact {
 margin-left: 250px;
 margin-right: 250px;

 }
}
    @media (max-width:843px) {
      

        .contact-heading {
            margin-right: 200px;
            margin-left: 200px
 }

.form-contact {
 margin-left: 200px;
 margin-right: 200px;
 }
 iframe {
    margin-left: 4px;

}
}
    @media (max-width:747px) {
      

        .contact-heading {
            margin-right: 150px;
            margin-left: 150px
 }

.form-contact {
 margin-left: 150px;
 margin-right: 150px;

 }
}
    @media (max-width:640px) {
      

        .contact-heading {
            margin-right: 100px;
            margin-left: 100px
 }

.form-contact {
 margin-left: 100px;
 margin-right: 100px;

 }
}

    @media (max-width:540px) {
        .contact-heading {
            margin-right: 50px;
            margin-left: 50px
 }

.form-contact {
 margin-left: 50px;
 margin-right: 50px;

 }
 iframe {
    margin-left: 2px;

}
}

    @media (max-width:372px) {
        .contact-heading {
            margin-right: 20px;
            margin-left: 20px
 }

.form-contact {
 margin-left: 20px;
 margin-right: 20px;

 }
}